
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Ol</li>
            </ol>
        </nav>
        <div class="col-md-4">
            <!-- Kategori Listesi -->

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Tüm Kategoriler
                </a>
                <a href="#" class="list-group-item list-group-item-action">Kategori A</a>
                <a href="#" class="list-group-item list-group-item-action">Kategori B</a>
                <a href="#" class="list-group-item list-group-item-action">Kategori C</a>

            </div>
            <br><br>
            <h6 style="color: darkblue;">En Çok Okunan Makaleler</h6>
            <div class="card mb-3" style="max-width: 420px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/Images/blog.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Başlık</p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock" style="font-size: 20px;"></i> Tarih - <i class="bi bi-eye" style="font-size: 20px;"></i> 10 Görüntüleme   </small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 420px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/Images/blog-2.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Başlık</p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock" style="font-size: 20px;"></i> Tarih - <i class="bi bi-eye" style="font-size: 20px;"></i> 10 Görüntüleme   </small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 420px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/Content/Images/blog-3.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">

                            <p class="card-text">Başlık</p>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"><i class="bi bi-clock" style="font-size: 20px;"></i> Tarih - <i class="bi bi-eye" style="font-size: 20px;"></i> 10 Görüntüleme   </small>
                    </div>
                </div>
            </div>

        </div>
        <!-- Makale Listesi -->
        <div class="col-md-8">
            <h3>Bilgileriniz Güncellenmiştir...</h3>

        </div>



    </div>
</div>
